<html>
<title>About</title>

<head>

    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/topbar.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
</head>

<body>

    <div class="topBar">
        <label>Tick-Tak-Toe</label>
        <a href="/" class="btn btn-info btnTopbar">Back</a>
    </div>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <p class="lead">How i made this app ?</p>
        <br>

        <ul>
            <li>It's written in JavaScript (both frontend and backend).</li>
            <li>All game data are stored in memory. No persistance storage.</li>
            <li>Node server handles the http requests and socket.io allows for instant data transfer.</li>
            <li>It's hosted in <a href="">heroku</a> & source code is available online at <a href="">Github</a>.</li>

        </ul>
    </div>
</body>

</html>